<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
	<title>Answer</title>
</head>
<header>
	<% include partials/header.ejs %>
</header>
<body>
	<h1>Answers!</h1>
<!-- 	<h2>About <%=ejsAnswer.metricShortName%></h2>
 -->
	<%ejsAnswer.answerKey.forEach(function(data){
		if (data[2] === "Correct") { %>
			<div class="correct"> <%=data[0]%> <%=data[1]%> </div> <%
		} else { %>
			<div class="wrong"> <%=data[0]%> <%=data[1]%> <b>Your answer: <%=data[2]%> </b></div><%
	}
	}) %>

<h3>You get <%=ejsAnswer.numCorrect%> points!</h3>

<form action="/nextquestion" method="GET">
	<button>Next question</button>
</form>

</body>
</html>