<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
	<title>Profile</title>
</head>
<header>
	<% include partials/headerLoggedIn.ejs %>
</header>
<body>
	<h1>Profile page</h1>

	<h2>Here's your information...</h2>
	<ul>
	<li>Screen name: <%=ejsProfile.player.screen_name%></li>
	<li>Email: <%=ejsProfile.player.email%></li>
	<li>Cumulative score: <%=ejsProfile.player.cumulative_score%></li>
	</ul>

	


	<h2>Here are your top three games</h2>
	<%for (var i = 0; i < ejsProfile.score.length; i++) {
		%>
		<div> <b> Score <%=ejsProfile.score[i].dataValues.game_score%> </b> Date <%=ejsProfile.score[i].dataValues.date_played.toDateString()%> </div>
	<% }; %>


<!-- 	<form action="/login" method="POST">
		<input type="text" name="loginScreenName" placeholder="Screen name">
		<input type="password" name="loginPassword" placeholder="Password">
		<button>Login</button>
	</form> -->
</body>
</html>