<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
	<title>Profile</title>
</head>
<header>
	<% include partials/headerLoggedIn.ejs %>
</header>
<body class="padMe">
	<h1>Profile page</h1>

	<h2>Here's your information...</h2>
	<ul>
	<li>Screen name: <b><%=ejsProfile.player.screen_name%></b></li>
	<li>Email: <b><%=ejsProfile.player.email%></b></li>
	</ul>

	<h2>Cumulative score: <b><%=ejsProfile.player.cumulative_score%></b></h2>

	<h2>Here are your top three games</h2>
	<%for (var i = 0; i < ejsProfile.score.length; i++) {
		%>
		<div> <b> Score <%=ejsProfile.score[i].dataValues.game_score%> </b> on <%=ejsProfile.score[i].dataValues.date_played.toDateString()%> </div>
	<% }; %>

<h3>
	<a href="/pregame"><b>Play again!</b></a>
</h3>


<!-- 	<form action="/login" method="POST">
		<input type="text" name="loginScreenName" placeholder="Screen name">
		<input type="password" name="loginPassword" placeholder="Password">
		<button>Login</button>
	</form> -->
</body>
</html>