<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
	<title>Question</title>
</head>
<header>
	<% include partials/headerLoggedIn.ejs %>
</header>

<div class="padMe">
	<body>
		<!-- <h3>Hi, <%= ejsQuestionData.screen_name %></h3> -->
		<h2>Question <%=ejsQuestionData.round%>  Current score <%=ejsQuestionData.score%></h2>
		<h2><%=ejsQuestionData.metricShortName%></h2>

		<h4>Drag the countries to align with their correct statistic, then click submit.</h4>

	<!-- 	<form action='/getanswerpage' method="GET">
			<% ejsQuestionData.countryAndValueData.forEach(function(country){ %>
				<div><%=country[0]%>, (<%=country[1]%>), <%=country[2]%>: <input type="radio"></div>
			<% }) %>
		</form> -->

	<table class = "large-text">
	<% if (ejsQuestionData.level === "2") { %>
		<tr class = "horizontal-borders-easy">
	    <%} else if(ejsQuestionData.level === "4"){ %>
	  		<tr class = "horizontal-borders-regular">
			<%} else if(ejsQuestionData.level === "6"){ %>
				<tr class = "horizontal-borders-insane">
			<%};%>
		<td>
			<ul class = "sortable">
				<% ejsQuestionData.randomList.forEach(function(data){ %>
					<li><%= data[0] %></li>
				<% }) %>
			</ul>
		</td>
		<td>
			<ul class = "sg-no-bullets">
				<% ejsQuestionData.countryAndValueData.forEach(function(data){ %>
					<li><%=data[1].toFixed(2) %></li>
				<% }) %>
			</ul>
		</td>
		</tr>
	</table>
<!-- <ul>
	<% ejsQuestionData.countryAndValueData.forEach(function(data){ %>
		<li><%= data[1] %></li>
	<% }) %>
</ul> -->
<script src="jquery.sortable.js"></script>
<script>
    $('.sortable').sortable().bind('sortupdate', function() {
    	//console.log(this);
    	Array.prototype.forEach.call(this.children, function(el,id){
    		$("#"+id).val(el.innerHTML);
    	});
    //Triggered when the user stopped sorting and the DOM position has changed.
	});
</script>

<form id="answers" action="/answer" method="GET">
	<% ejsQuestionData.randomList.forEach(function(data, id){ %>
		<input style="display:none;" type="text" value="<%= data[0] %>" name="<%=id%>" id="<%=id%>"/>
	<% }) %>
	<button class = "large-text">Submit</button>
</form>

	<h3> Want more details? <%=ejsQuestionData.metricDescription%></h3>

</div>

<!-- 	<form action="/login" method="POST">
		<input type="text" name="loginScreenName" placeholder="Screen name">
		<input type="password" name="loginPassword" placeholder="Password">
		<button>Login</button>
	</form> -->
<!-- <script src="./javascripts/jquery.sortable.js"></script> -->
</body>
</html>